@media only screen and (max-width: 415px) { 

    main{
      width: 97%;
      margin: 1rem auto;
      background-color: white;
      box-shadow: 0 0 20px 10px var(--main-1);
      padding: 0.5rem;
    }
    
  
  /*===== header code =====*/
  .container_logo{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid var(--main-2);
      margin: 3rem 1rem 0 1rem ;
      transition: transform 400ms ease-in;
      position: relative;
    }
      
    .logo-content{
      font-weight: 500;
      font-size: 12px;
    }
    
    
    header {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: var(--main-font-size);
      margin: 0 auto 100px auto;
    }
    
    nav {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    
    ul {
   
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      /* background-color: red; */
    }
    
    li {
      list-style-type: none;
      cursor: pointer;
    }
    
    li a {
      text-decoration: none;
      color: var(--accents-4);
      font-size: 0.8rem;
    }
    
    .item_1 {
      flex: 2;
      align-self: flex-end;
      position: relative;
    }
    .item_1::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      width: 75%;
      height: 1px;
      background-color: var(--main-2);
      transition: transform 400ms ease-in;
    }
    
    
    .active {
      color: var(--main-2);
      font-weight: 600;
    }
    
    .item_2 {
      flex: 2;
      align-self: flex-end;
      position: relative;
    }
    
    .item_2::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      width: 75%;
      height: 1px;
      background-color: var(--main-2);
      transition: transform 400ms ease-in;
    }
    
    
    .item_3 {
      flex: 2;
      align-self: flex-end;
      position: relative;
    }
    
    .item_3::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      width: 98%;
      height: 1px;
      background-color: var(--main-2);
      transition: transform 400ms ease-in;
    }
    
  
    
    .item_4 {
      flex: 6;
      align-self: flex-end;
      position: relative;
      margin-left: 0.3rem;
    }
    
    .item_4::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      width: 32%;
      height: 1px;
      background-color: var(--main-2);
      transition: transform 400ms ease-in;
    }
    
    
    .email_me_btn {
      align-self: center;
      padding: 0.4rem;
      cursor: pointer;
      background-color: white;
      border: 1px solid var(--main-1);
      letter-spacing: 0.03rem;
      font-weight: 500;
      border-radius: 1rem;
      outline: none;
      font-size: 0.5rem;
      margin-right: 1rem;
      width: 100px;
  
    }
  
    .email_me_btn{
      align-self: flex-end;
    }
    
    .email_me_btn a {
      text-decoration: none;
      color: var(--accents-1);
    }
    
  
    
    #phone_number{
      align-self: center;
      padding: 0.6rem;
      margin: 0 1rem 0 0.1rem;
      cursor: pointer;
      background-color: white;
      border: 1px solid var(--main-1);
      font-weight: 500;
      border-radius: 1rem;
      outline: none;
      font-size: 0.4rem;
      transition: background-color 200ms ease-in;
      display: none;
    }
    
    #phone_number:hover{
    background-color: #2ECC71;
    color: white;
    border-color: #2ECC71;
    box-shadow: 0 0 20px 2px #2ECC71;
    }
    
    #phone_number:hover i {
      color: var(--accents-1);
    }
    /*===== end header code =====*/
    /*===== Presentation section =====*/
  
  .presentation {
      width: 100%;
    }
    
    .container_presentation {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    #personal_img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      box-shadow: 0 0 5px #707880;
    }
    
    #personal_img:hover{
      cursor: pointer;
      opacity: 0.3;
    }
    
    .container_presentation_img{
  
      position: relative;
      width: 180px;
      height: 180px;
      margin: 0 auto;
      border-radius: 100%;
      border: 1px solid var(--main-2)
    
    }
    
    
    .fa-trash{
  
      color: var(--main-2);
      font-size: 1.5rem;
    }
    
    .fa-trash:hover{
      cursor: pointer;
    }
    
    
    .delete{
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -50%);
      display: none;
    }
    
    .add_photo{
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      display: none;
    }
    
    .add_photo:hover{
      cursor: pointer;
    }
    
    .add_photo i {
      color: var(--main-2);
      font-size: 1.5rem;
    }
    
    .container_header_button{
      display: flex;
      align-items: center;
      justify-content: center;
  
    
    }
    
    #change_content_btn{
    margin: 0.6rem 10px 0 10px ;
    padding: 0.3rem;
    border: 2px solid var(--main-2);
    background-color: white;
    font-size: 0.7rem;
    opacity: 0.6;
    }
    
    #change_content_btn:hover{
      cursor: pointer;
      color: var(--main-2);
      opacity: 1;
    }
    
    
    #cancel_content_btn{
      margin: 3rem 10px 0 10px ;
      padding: 0.3rem;
      border: 2px solid var(--main-2);
      background-color: white;
      font-size: 0.7rem;
      opacity: 0.6;
    }
    
    #cancel_content_btn:hover{
      cursor: pointer;
      color: var(--main-2);
      opacity: 1;
    }
    
    .buttons{
     width: 35%;
     margin-right: -25rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    }
    
    h1 {
      font-size: 1.5rem;
      margin: 40px 10px 0 -400px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      letter-spacing: 0.05rem; /*0.8px*/
      font-weight: 800;
      color: var(--accents-1);
    
    }
    
    h2 {
      margin: 22px 0;
      color: var(--accents-4);
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.02rem;
    }
    
    h2 i {
      color: var(--accents-1);
      font-weight: 400;
    }
    
    #myName {
      color: var(--main-2);
      margin-right: 0.5rem;
    }
  
     /*===== End Presentation section =====*/
  
    /*EDUCATION CODE*/
  .section_education {
      width: 100%;
      height: 250px;
    }
    
    .container_education {
      width: 95%;
      height: 480px;
    
    }
    
    .container_header_1 {
      width: 100%;
      height: 3rem;
   
    }
    
    .paragraph_1 {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 1.5rem;
      position: relative;
      background-color:#3291ff;
      width: 50%;
    }
    
    .paragraph_1::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      width: 100%;
      height: 2px;
      background-color: var(--accents-2);
    }
    
    .content {
      width: 100%;
      height: 320px;
    }
    
    .container_content {
      width: 110%;
      height: 310px;
    }
    
    .period {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
    }
    
    .period i {
      margin: 0 0.5rem 0 0.5rem;
    }
    
    .school_info {
      width: 90%;
      height:350px;
    }
    
    .degree_highSchool {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 1rem;
      color: var(--main-2);
      font-weight: 600;
    }
    
    .info_school {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      margin: 0.5rem 0 1rem 1.3rem;
    }
    
    .course_program{
      width: 90%;
      height: 85%;
    }
    
    .course_program ul li {
      font-size:0.9rem;
      margin: 0 0 0.4rem 1rem;
    }
    
    .program_list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 120%;
     text-align: left;
    }
    /*END EDUCATION CODE*/
    
   
    /* ===== HOBBIES SECTION CODE =====*/
  
  
  .hobbies_section{
      width: 90%;
      height: 100px;
    }
    
    .hobbies_section p{
      margin-bottom: 0.5rem;
    }
    
    #header3_Professional_experience{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 600;
      color: var(--accents-1);
      position: relative;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      background-color: #3291ff;
      width: 80%;
    
    }
    
    #header3_Professional_experience::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3rem;
      width: 100%;
      height: 2px;
      background-color: var(--accents-2);
    }
    
    #position_first_job,#position_second_job{
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
    
    #objective_header{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 600;
      color: var(--accents-1);
      position: relative;
      margin-bottom: 1rem;
    }
    
    #objective_header::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3rem;
      width: 40%;
      height: 2px;
      background-color: var(--accents-2);
    }
    
    #skills_header{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 600;
      color: var(--accents-1);
      position: relative;
      margin-bottom: 1rem;
    }
    
    #skills_header::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3rem;
      width: 40%;
      height: 2px;
      background-color: var(--accents-2);
    }
    
    #hobbies_header{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 600;
      color: var(--accents-1);
      position: relative;
    }
    
    #hobbies_header::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3rem;
      width: 40%;
      height: 2px;
      background-color: var(--accents-2);
    }
    
    #interests_header{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 600;
      color: var(--accents-1);
      position: relative;
      margin-bottom: 1rem;
      
    }
    
    #interests_header::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3rem;
      width: 40%;
      height: 2px;
      background-color: var(--accents-2);
    }
    
    
    #languages_header{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 600;
      color: var(--accents-1);
      position: relative;
      margin-bottom: 1rem;
    }
    
    #languages_header::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3rem;
      width: 40%;
      height: 2px;
      background-color: var(--accents-2);
    }
    .container_hobbies{
      width: 90%;
      height: 100px;
      margin-top: 1rem;
    }
    
    .html,.css,.js{
      background-color: var(--main-2);
      padding: 0.3rem;
      border-radius: 0.1rem;
    }
  
    .html,.css,.js{
      background-color: #98acc2;
      padding: 0.3rem;
      border-radius: 0.1rem;
    }
    
    /* ===== END HOBBIES SECTION CODE =====*/
  
    /*===== SCROLL BACK TO TOP BUTTON CODE =====*/
  
  .scroll_back_to_top {
      display: none;
      position: fixed;
      bottom: 3.5rem;
      right: 3rem;
      z-index: 1;
      font-size: 1rem;
      border: none;
      outline: none;
      background-color: var(--main-2);
      color: white;
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
    }
    
    .scroll_back_to_top:hover {
      box-shadow: 0 0 10px 5px var(--main-2);
    }
    
    /*===== END SCROLL BACK TO TOP BUTTON CODE =====*/
  
  /*===== Icons Contact Code =====*/
  
  .contact_icons {
      width: 70%;
      height: 200px;
      margin: 35rem auto auto auto;
    }
    
    .container_contact_icons {
      width: 80%;
      height: 60%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .box {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.8rem;
    }
    
    .box i {
      font-size: 1.5rem;
      color: var(--accents-1);
      outline: none;
      transition: margin-bottom 200ms ease-in;
    }
    
    .box:hover i {
      margin-bottom: 1rem;
    }
    /*===== End Icons Contact Code =====*/
  
    /*===== Footer Code =====*/
  
  .footer_section {
      width: 100%;
      height: 50px;
  
    }
    
    .class_footer {
      color: var(--accents-3);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
    
    /*===== End Footer Code =====*/
  }
  
  
  